ProASP.NET/Chapter24/Clients/WindowsClient/Web References/StatefulWebService/StatefulService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StoreName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetName">
        <s:complexType />
      </s:element>
      <s:element name="GetNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="StoreNameSoapIn">
    <part name="parameters" element="s0:StoreName" />
  </message>
  <message name="StoreNameSoapOut">
    <part name="parameters" element="s0:StoreNameResponse" />
  </message>
  <message name="GetNameSoapIn">
    <part name="parameters" element="s0:GetName" />
  </message>
  <message name="GetNameSoapOut">
    <part name="parameters" element="s0:GetNameResponse" />
  </message>
  <portType name="StatefulServiceSoap">
    <operation name="StoreName">
      <input message="s0:StoreNameSoapIn" />
      <output message="s0:StoreNameSoapOut" />
    </operation>
    <operation name="GetName">
      <input message="s0:GetNameSoapIn" />
      <output message="s0:GetNameSoapOut" />
    </operation>
  </portType>
  <binding name="StatefulServiceSoap" type="s0:StatefulServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="StoreName">
      <soap:operation soapAction="http://tempuri.org/StoreName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/GetName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="StatefulService">
    <port name="StatefulServiceSoap" binding="s0:StatefulServiceSoap">
      <soap:address location="http://localhost/Chapter24/StatefulService.asmx" />
    </port>
  </service>
</definitions>