ProASP.NET/Chapter25/Clients/WebClient/Web References/localhost/EmployeesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.apress.com/ProASP.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.apress.com/ProASP.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apress.com/ProASP.NET/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetEmployeesCount">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeesCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetEmployeesCountSoapIn">
    <part name="parameters" element="s0:GetEmployeesCount" />
  </message>
  <message name="GetEmployeesCountSoapOut">
    <part name="parameters" element="s0:GetEmployeesCountResponse" />
  </message>
  <message name="GetEmployeesSoapIn">
    <part name="parameters" element="s0:GetEmployees" />
  </message>
  <message name="GetEmployeesSoapOut">
    <part name="parameters" element="s0:GetEmployeesResponse" />
  </message>
  <portType name="Employees_x0020_ServiceSoap">
    <operation name="GetEmployeesCount">
      <documentation>Returns the total number of employees.</documentation>
      <input message="s0:GetEmployeesCountSoapIn" />
      <output message="s0:GetEmployeesCountSoapOut" />
    </operation>
    <operation name="GetEmployees">
      <documentation>Returns the full list of employees, with all information.</documentation>
      <input message="s0:GetEmployeesSoapIn" />
      <output message="s0:GetEmployeesSoapOut" />
    </operation>
  </portType>
  <binding name="Employees_x0020_ServiceSoap" type="s0:Employees_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEmployeesCount">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/GetEmployeesCount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEmployees">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/GetEmployees" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Employees_x0020_Service">
    <documentation>Retrieve the Northwind Employees</documentation>
    <port name="Employees_x0020_ServiceSoap" binding="s0:Employees_x0020_ServiceSoap">
      <soap:address location="http://localhost/Chapter24/EmployeesService.asmx" />
    </port>
  </service>
</definitions>