ProASP.NET/Chapter26/Web References/localhost2/SoapSecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hashAlgorithm" type="s0:HashAlgorithm" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="HashAlgorithm">
        <s:restriction base="s:string">
          <s:enumeration value="SHA1" />
          <s:enumeration value="MD5" />
          <s:enumeration value="Clear" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="TicketHeader" type="s0:TicketHeader" />
      <s:complexType name="TicketHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="LoginTicketHeader">
    <part name="TicketHeader" element="s0:TicketHeader" />
  </message>
  <message name="GetEmployeesSoapIn">
    <part name="parameters" element="s0:GetEmployees" />
  </message>
  <message name="GetEmployeesSoapOut">
    <part name="parameters" element="s0:GetEmployeesResponse" />
  </message>
  <message name="GetEmployeesTicketHeader">
    <part name="TicketHeader" element="s0:TicketHeader" />
  </message>
  <portType name="SoapSecurityServiceSoap">
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="GetEmployees">
      <documentation>Returns the full list of employees.</documentation>
      <input message="s0:GetEmployeesSoapIn" />
      <output message="s0:GetEmployeesSoapOut" />
    </operation>
  </portType>
  <binding name="SoapSecurityServiceSoap" type="s0:SoapSecurityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="s0:LoginTicketHeader" part="TicketHeader" use="literal" />
      </output>
    </operation>
    <operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:GetEmployeesTicketHeader" part="TicketHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SoapSecurityService">
    <port name="SoapSecurityServiceSoap" binding="s0:SoapSecurityServiceSoap">
      <soap:address location="http://localhost/Chapter26/SoapSecurityService.asmx" />
    </port>
  </service>
</definitions>