ProASP.NET/Chapter26_WSE/Web References/localhost/EmployeesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.apress.com/ProASP.NET/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.apress.com/ProASP.NET/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apress.com/ProASP.NET/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </types>
  <message name="GetEmployeesSoapIn">
    <part name="parameters" element="s0:GetEmployees" />
  </message>
  <message name="GetEmployeesSoapOut">
    <part name="parameters" element="s0:GetEmployeesResponse" />
  </message>
  <message name="UploadFileSoapIn">
    <part name="parameters" element="s0:UploadFile" />
  </message>
  <message name="UploadFileSoapOut">
    <part name="parameters" element="s0:UploadFileResponse" />
  </message>
  <portType name="EmployeesServiceSoap">
    <operation name="GetEmployees">
      <documentation>Returns the full list of employees.</documentation>
      <input message="s0:GetEmployeesSoapIn" />
      <output message="s0:GetEmployeesSoapOut" />
    </operation>
    <operation name="UploadFile">
      <input message="s0:UploadFileSoapIn" />
      <output message="s0:UploadFileSoapOut" />
    </operation>
  </portType>
  <binding name="EmployeesServiceSoap" type="s0:EmployeesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEmployees">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/GetEmployees" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UploadFile">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/UploadFile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EmployeesService">
    <documentation>Retrieve the Northwind Employees</documentation>
    <port name="EmployeesServiceSoap" binding="s0:EmployeesServiceSoap">
      <soap:address location="http://localhost/Chapter26_WSE/EmployeesService.asmx" />
    </port>
  </service>
</definitions>