ProASP.NET/Chapter24/Clients/WebClient/Web References/localhost1/LogServiceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployeesCount">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeesCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetEmployeesCountSoapIn">
    <part name="parameters" element="s0:GetEmployeesCount" />
  </message>
  <message name="GetEmployeesCountSoapOut">
    <part name="parameters" element="s0:GetEmployeesCountResponse" />
  </message>
  <portType name="LogServiceTestSoap">
    <operation name="GetEmployeesCount">
      <documentation>Returns the total number of employees.</documentation>
      <input message="s0:GetEmployeesCountSoapIn" />
      <output message="s0:GetEmployeesCountSoapOut" />
    </operation>
  </portType>
  <binding name="LogServiceTestSoap" type="s0:LogServiceTestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEmployeesCount">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesCount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LogServiceTest">
    <port name="LogServiceTestSoap" binding="s0:LogServiceTestSoap">
      <soap:address location="http://localhost/Chapter24/LogServiceTest.asmx" />
    </port>
  </service>
</definitions>