ProASP.NET/Chapter25/Clients/WindowsClientCustomDataClass/Web References/localhost/EmployeesServiceCustomDataClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="s0:ArrayOfEmployeeDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployeeDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDetails" nillable="true" type="s0:EmployeeDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmployeeDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="First" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last" type="s:string" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
        <s:attribute name="Title" type="s:string" />
      </s:complexType>
    </s:schema>
  </types>
  <message name="GetEmployeesSoapIn">
    <part name="parameters" element="s0:GetEmployees" />
  </message>
  <message name="GetEmployeesSoapOut">
    <part name="parameters" element="s0:GetEmployeesResponse" />
  </message>
  <portType name="EmployeesServiceCustomDataClassSoap">
    <operation name="GetEmployees">
      <documentation>Returns the full list of employees.</documentation>
      <input message="s0:GetEmployeesSoapIn" />
      <output message="s0:GetEmployeesSoapOut" />
    </operation>
  </portType>
  <binding name="EmployeesServiceCustomDataClassSoap" type="s0:EmployeesServiceCustomDataClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/GetEmployees" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EmployeesServiceCustomDataClass">
    <port name="EmployeesServiceCustomDataClassSoap" binding="s0:EmployeesServiceCustomDataClassSoap">
      <soap:address location="http://localhost/Chapter25/EmployeesServiceCustomDataClass.asmx" />
    </port>
  </service>
</definitions>